{erl_opts, [
  fail_on_warning,
  debug_info
]}.

{cover_enabled, true}.

{clean_files, [
  "test/results",
  "ebin/*.beam"
]}.

{eunit_opts, [
  verbose,
  {report, {eunit_surefire, [{dir, "../test/results"}]}}
]}.

{pre_hooks, [
  {eunit, "mkdir -p test/results"}, %% Make dir for eunit' surefire test results
  {eunit, "epmd -daemon"} %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
]}.